$primary-color: #5A6F7A;
$secondary-color: #C7B198;
$secondary-lighter-color: #DFD3C3;
$brown-color: #F0ECE3;
$dark-color: #7A7B7F;
$fullDark-color: #000;
$white-color: #fff;

body {
    font-family: "PT Sans", 'Montserrat', monospace, sans-serif;
    background-color: rgba($secondary-lighter-color, .8)
}

.headerContainer {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba($secondary-color, 1);
    box-shadow: 0 0 5px 3px rgba($secondary-color, .6);
    backdrop-filter: blur(10px);
    margin: 0 auto;
    margin-top: .5em;
    border-radius: 5px;
    &:hover {
        background: rgba($secondary-color, .2);
        transition: all .9s ease;
    }

    h1 {
        font-weight: 600;
        margin: 0 auto;
        line-height: 5rem;
        user-select: none;
    }
    label {
        width: 15em;
        height: 1.9em;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1em;
        position: relative;

        input {
            width: inherit;
            border-style: none;
            border: none;
            border-radius: 12px;
            padding: 2px 40px 2px 10px;
            &:focus {
                box-shadow: 0 0 5px 3px rgba($primary-color, .9);
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            height: inherit;
            background-color: rgba($secondary-lighter-color, .5);
            border-style: none;
            border-radius:  0 12px 12px 0;
            cursor: pointer;

            &:hover {
                background-color: rgba($primary-color, .3);
                transition: all .2s ease;
            }
        }
    }
} 

