$primary-color: #5A6F7A;
$secondary-color: #C7B198;
$secondary-lighter-color: #DFD3C3;
$brown-color: #F0ECE3;
$dark-color: #7A7B7F;
$fullDark-color: #000;
$white-color: #fff;

body {
    font-family: "PT Sans", 'Montserrat', monospace, sans-serif;
}

.headerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $secondary-color;

    h1 {
        font-weight: 600;
        margin: 0 auto;
        line-height: 5rem;
    }
    label {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;

        input {
            border-style: none;
            border: none;
            border-radius: 3px;
            margin: 0 auto;
            &:focus {
                border: none;
                box-shadow: 0 0 5px 1px rgba($primary-color, .9);
            }
        }
        button {
            width: 40px;
            background-color: rgba($secondary-lighter-color, .9);
            border-style: none;
            border-radius:  3px;
        }
    }
} 

