$primary-color: #5A6F7A;
$secondary-color: #C7B198;
$background-color: #fff;
$brown-color: #F0ECE3;
$dark-color: #7A7B7F;
$fullDark-color: #000;
$white-color: #fff;

body {
    font-family: "PT Sans", 'Montserrat', monospace, sans-serif;
    background-color: $background-color;
    position: relative;
}