.modalContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba($primary-color, .5);
    z-index: 52;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    justify-items: center;
    align-items: center;

    section {
        width: 90%;
        max-width: 400px;
        height: 14em;
        background: $white-color;
        border-radius: 12px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.2em;

        .icon {
            background: $primary-color;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            position: relative;

            svg {
                width: 45px;
                height: 45px;
                position: absolute;
                left: calc(45px - 40px);
                top: calc(45px - 40px);
                fill: rgba($white-color, 1);
            }
        }
        span {
            font-weight: 600;
            font-size: 1.2rem;
        }
        .actions {
            display: flex;
            gap: 1.5em;
            margin-top: 1em;

            button {
                @include displaysFlex();
                padding: .7em 2.9em;
                border: none;
                border-radius: 12px;
                color: $white-color;
                background: rgba($primary-color, .8);
                position: relative;
                &:hover {
                    background: rgba($secondary-color, .8);
                    transition: .2s ease-out;
                    color: $primary-color;
                }

                svg {
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 10px;
                    left: 14px;
                }
            }
        }
    }  
}