footer {
    width: 100vw;
    height: 9vh;
    @include displaysFlex();
    align-items: center;
    justify-content: space-evenly;
    background: $white-color;
    box-shadow: 0 0 5px rgba($primary-color, .6);
    position: fixed;
    bottom: 0;
    z-index: 50;
    border-radius: 12px 12px 0 0;
    padding: .2em 0;

   

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .2em .5em;
        
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: #fff;
            opacity: .9;
            transition: all .2s ease-out;
        }

        button {
            @include Buttons();
            width: 30px;
            height: 30px;
            margin: auto 0;
    
            svg {
                width: 26px;
                height: 26px;
                top: calc(50% - 13px);
                left: calc(50% - 13px);
            }
        }
        span{
            font-weight: 600;
            font-size: .8rem;
            margin-top: .3em;
            letter-spacing: .02rem;
        }
    }
}