footer {
    width: 100vw;
    height: 10vh;
    @include displaysFlex();
    justify-content: space-evenly;
    background: rgba($secondary-color, 1);
    box-shadow: 0 -1px 2px 0.5px rgba($primary-color, .6);
    position: fixed;
    bottom: 0;
    z-index: 50;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto 0;
        padding: .2em .5em;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: #fff;
            opacity: .9;
            transition: all .2s ease-out;
        }

        button {
            @include Buttons();
            width: 32px;
            height: 32px;
            margin: auto 0;
    
            svg {
                width: 28px;
                height: 28px;
                top: calc(50% - 14px);
                left: calc(50% - 14px);
            }
        }
        span{
            font-weight: 600;
        }
    }

}