footer {
    width: 100vw;
    height: 9vh;
    @include displaysFlex();
    justify-content: space-evenly;
    background: rgba($secondary-color, 1);
    box-shadow: 0 -1px 2px 0.5px rgba($primary-color, .6);
    position: fixed;
    bottom: 0;
    z-index: 50;
    

    div {
        @include displaysFlex();
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto 0;
        cursor: pointer;

        button {
            @include Buttons();
            width: 32px;
            height: 32px;
            margin: auto 0;

    
            svg {
                width: 28px;
                height: 28px;
                top: calc(50% - 14px);
                left: calc(50% - 14px);
            }
        }
        span{
            font-weight: 600;
            &:hover {
                color: $white-color;
                transition: all .2s ease-out;
            }
        }
    }

}