.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba($secondary-color, 1);
    box-shadow: 0 1px 2px 0.5px rgba($primary-color, .6);
    position: fixed;
    top: 0;
    z-index: 50;
    

    h1 {
        font-weight: 600;
        margin: 0 auto;
        line-height: 5rem;
        user-select: none;
    }
    label {
        width: 15em;
        height: 1.9em;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1em;
        position: relative;

        input {
            width: inherit;
            border-style: none;
            border: none;
            border-radius: 15px;
            padding: 5px 40px 5px 10px;
            line-height: 5em;
            
            &:focus {
                box-shadow: 0 0 5px 1px rgba($primary-color, .9);
                outline: none;
            }
            &::placeholder {
                font-weight: 600;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            height: inherit;
            background-color: rgba($secondary-lighter-color, .5);
            border-style: none;
            border-radius:  50%;
            cursor: pointer;

            &:hover {
                background-color: rgba($primary-color, .3);
                transition: all .2s ease;
            }
        }
    }
} 