$primary-color: #5A6F7A;
$secondary-color: #C7B198;
$secondary-lighter-color: #DFD3C3;
$brown-color: #F0ECE3;
$dark-color: #7A7B7F;
$fullDark-color: #000;
$white-color: #fff;

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
    
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;

    div {
        background: rgba($secondary-color, .9);
        margin-bottom: .5em;
        padding: 1em;
        border-radius: 5px;
    }
}