$primary-color: #5A6F7A;
$secondary-color: #C7B198;
$secondary-lighter-color: #DFD3C3;
$brown-color: #F0ECE3;
$dark-color: #7A7B7F;
$fullDark-color: #000;
$white-color: #fff;

.mainConatiner {
    display: flex;
    justify-content: center;
    flex-direction: column;

    
}