$primary-color: #5A6F7A;
$secondary-color: #C7B198;
$secondary-lighter-color: #DFD3C3;
$brown-color: #F0ECE3;
$dark-color: #7A7B7F;
$fullDark-color: #000;
$white-color: #fff;

@mixin displaysFlex () {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 95%;
    margin: 0 auto;
    margin-top: .5em;
    border-radius: 5px;

    div {
        @include displaysFlex();

        background: rgba($secondary-color, .9);
        margin-bottom: .5em;
        padding: 1em;
        border-radius: inherit;
        position: relative;
    }
}

.buttonsContainer {
    @include displaysFlex();
    position: absolute;
    right: 12px;
    top: 8px;
    button {
        
        width: 30px;
        border: none;
        background: none;
        img {
            width: inherit;
        }
    }
}