@mixin displaysFlex () {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 8em auto 4em auto;
    border-radius: 12px;

    div {
        @include displaysFlex();
        justify-content: space-between;
        background: rgba($white-color, .9);
        box-shadow: 0 0 5px rgba($primary-color, .6);
        margin-bottom: .5em;
        padding: 1em;
        border-radius: inherit;
        
    }

    ::-webkit-scrollbar {
        background: transparent;
        padding: 5px;
        border-radius: 8px;
        width: .2em;
    }

    ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 12px;

        &:hover {
            background-color: black;
        }
    }
}