@mixin displaysFlex () {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 8em auto 4em auto;
    border-radius: 12px;

    div {
        @include displaysFlex();
        justify-content: space-between;
        background: rgba($secondary-color, .9);
        margin-bottom: .5em;
        padding: 1em;
        border-radius: inherit;
        &:hover {
            box-shadow: 0 0 2px 2px rgba($white-color, .7);
        }
    }
}