@mixin displaysFlex() {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.mainContainer {
    width: 95%;
    max-width: 400px;
    margin: 8em auto 5em auto;
    border-radius: 12px;
}
